
<form id="form-id" method="post" action="/vision">
<input type="hidden" name="your-variable-name" value="your-variable-value">
<ul class="image_list">
  {{#each files}}
    <li onclick="document.getElementById('form-id').submit();">{{this}}</li>
  {{/each}}
</ul>
</form>
